
$btn-width :70px ;
.nav_btn_wrap {
    position: absolute;
    top: 34px;
    right: 37px;
    width: $btn-width;
    height: $btn-width;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:20%;
    z-index: 2;
}

.outter {
    width: $btn-width;
    height: $btn-width;
    /* transform: translate(-50% ,-50%); */
    border-radius: 50%;
    /* background:#39fff1; */
}

.outter::before {
    content: '';
    width: 100%;
    height: 100%;
    /* position: absolute; */
    display: block;
    /* top: 0px;
    left: 0px; */
    /* background: red; */
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #218ada;
    border-bottom-color: #218ada;
    transition: .5s;
    box-sizing: border-box;
}

.nav_btn_wrap:hover .outter::before {
    border-top-color: #39fff1;
    border-bottom-color: #39fff1;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(180deg);
        box-shadow: 0 0 3px 2px #39fff1;
    }
    100% {
        transform: rotate(360deg);
    }
}

.hamburger {
    transition: .5s;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #218ada;
    border-radius: 50%;
    z-index: -1;
}
.nav_btn_wrap:hover .hamburger {
    border: 1px solid #39fff1;
}

.bar {
    width: 29px;
    height: 2px;
    background: #218ada;
    transition: .5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav_btn_wrap:hover .bar {
    background: #39fff1;
}

.bar1 {
    transform: translate(-50%, -50%) translateY(7px);
}

.bar3 {
    transform: translate(-50%, -50%) translateY(-7px);
}

.nav_btn_wrap:hover .bar1 {
    transform: translate(-50%, -50%) translateY(10px);
}

.nav_btn_wrap:hover .bar3 {
    transform: translate(-50%, -50%) translateY(-10px);
}

.nav_btn_wrap:hover .bar2 {
    width: 14px;
}

@media screen and(max-width:415px){
        .nav_btn_wrap{
            width: 50px;
            height: 50px;
            top: 20px;
            right: 20px;
        }
        .outter{
            width: 50px;
            height: 50px;;
        }
        .hamburger{
            width: 35px;
            height: 35px;
            .bar{
                width: 20px;
                height: 2px;
            }
        }
}