.frame {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0%;
  right: 0%; }
  .frame svg {
    position: absolute;
    top: -3%;
    right: 0;
    height: 100%;
    width: 60%; }
  .frame .right {
    transform-style: preserve-3d; }
  .frame .top {
    transform-style: preserve-3d; }
  .frame .bottom {
    transform-style: preserve-3d; }

.cls-1,
.cls-3 {
  fill: #01aae5; }

.cls-2 {
  fill: #58c7ee; }

.cls-3 {
  opacity: 0.59;
  isolation: isolate; }

@media screen and (max-width: 1465px) {
  .frame {
    width: 120%; } }

@media screen and (max-width: 1225px) {
  .frame {
    width: 125%; } }

@media screen and (max-width: 1125px) {
  .frame {
    width: 130%; } }

@media screen and (max-width: 1125px) {
  .frame {
    width: 140%; } }

@media screen and (max-width: 933px) {
  .frame {
    display: none; } }
