.abc {
  color: #fff; }

.pointer_event {
  pointer-events: none; }

.lp_left_side {
  flex: 15%;
  border-right: 1px solid rgba(96, 214, 255, 0.3);
  height: 100vh;
  position: relative;
  z-index: 1; }
  .lp_left_side .scroll_down {
    color: #fff;
    position: absolute;
    bottom: 100px;
    right: -10px;
    font-size: .8rem;
    letter-spacing: 10px;
    font-weight: 100;
    transform-origin: center;
    transform: translateX(15%) rotate(270deg); }

.lp_left_tags_wrap {
  width: 85%;
  height: 40%;
  position: absolute;
  top: 52%;
  left: 0;
  transform: translateY(-50%); }
  .lp_left_tags_wrap .lp_side_tag_each {
    cursor: pointer;
    width: 100%;
    height: 44px;
    position: absolute;
    left: -40%;
    transition: all .5s; }
    .lp_left_tags_wrap .lp_side_tag_each.tag_move {
      left: 0%; }
    .lp_left_tags_wrap .lp_side_tag_each.tag1 {
      top: 0%; }
    .lp_left_tags_wrap .lp_side_tag_each.tag2 {
      top: 20%; }
    .lp_left_tags_wrap .lp_side_tag_each.tag3 {
      top: 40%; }
    .lp_left_tags_wrap .lp_side_tag_each.tag4 {
      top: 60%; }
    .lp_left_tags_wrap .lp_side_tag_each.tag5 {
      top: 80%; }

.lp_side_tag_line {
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 50%;
  transform: translateY(-50%); }
  .lp_side_tag_line svg {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%; }

.lp_side_tag_body {
  width: 60%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 68%;
  transform: translate(-50%, -50%); }
  .lp_side_tag_body.click_effect {
    background: red; }
  .lp_side_tag_body span {
    color: #fff;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
  .lp_side_tag_body img {
    width: 100%;
    height: 100%; }

@media only screen and (max-width: 1280px) {
  .lp_side_tag_body span {
    font-size: 14px; } }

@media only screen and (max-width: 1124px) {
  .lp_side_tag_body span {
    font-size: 12px; } }

@media only screen and (max-width: 950px) {
  .lp_left_side {
    display: none; } }
